In [81]:
import pandas as pd
import numpy as np
import matplotlib as plt
import csv

In [82]:
income_data = pd.read_csv("historical_income.csv")
income_data.head()

,Year,Number (thousands),Per Capita Income,Per Capita Adjusted for 2017 USD
0,2017,"323,156","34,489","34,489"
1,2016,"320,372","33,205","33,919"
2,2015,"318,868","31,653","32,751"
3,2014,"316,168","30,176","31,276"
4,2013 (39),"313,443","30,027","31,649"

In [95]:
labor_data = pd.read_csv("labor_stats.csv")
labor_data["Annual"] = labor_data.iloc[:, [1,2,3,4,5,6,7,8,9,10,11,12]].mean(axis=1)
labor2 = labor_data.drop(labor_data.index[:19])
Mar = labor_data["Mar"]
Jun = labor_data["Jun"]
Sep = labor_data["Sep"]
Dec = labor_data["Dec"]
Avg = labor_data["Annual"]
labor2

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual
19,1999,4.3,4.4,4.2,4.3,4.2,4.3,4.3,4.2,4.2,4.1,4.1,4.0,4.216667
20,2000,4.0,4.1,4.0,3.8,4.0,4.0,4.0,4.1,3.9,3.9,3.9,3.9,3.966667
21,2001,4.2,4.2,4.3,4.4,4.3,4.5,4.6,4.9,5.0,5.3,5.5,5.7,4.741667
22,2002,5.7,5.7,5.7,5.9,5.8,5.8,5.8,5.7,5.7,5.7,5.9,6.0,5.783333
23,2003,5.8,5.9,5.9,6.0,6.1,6.3,6.2,6.1,6.1,6.0,5.8,5.7,5.991667
24,2004,5.7,5.6,5.8,5.6,5.6,5.6,5.5,5.4,5.4,5.5,5.4,5.4,5.541667
25,2005,5.3,5.4,5.2,5.2,5.1,5.0,5.0,4.9,5.0,5.0,5.0,4.9,5.083333
26,2006,4.7,4.8,4.7,4.7,4.6,4.6,4.7,4.7,4.5,4.4,4.5,4.4,4.608333
27,2007,4.6,4.5,4.4,4.5,4.4,4.6,4.7,4.6,4.7,4.7,4.7,5.0,4.616667
28,2008,5.0,4.9,5.1,5.0,5.4,5.6,5.8,6.1,6.1,6.5,6.8,7.3,5.800000
29,2009,7.8,8.3,8.7,9.0,9.4,9.5,9.5,9.6,9.8,10.0,9.9,9.9,9.283333
30,2010,9.8,9.8,9.9,9.9,9.6,9.4,9.4,9.5,9.5,9.4,9.8,9.3,9.608333
31,2011,9.1,9.0,9.0,9.1,9.0,9.1,9.0,9.0,9.0,8.8,8.6,8.5,8.933333
32,2012,8.3,8.3,8.2,8.2,8.2,8.2,8.2,8.1,7.8,7.8,7.7,7.9,8.075000
33,2013,8.0,7.7,7.5,7.6,7.5,7.5,7.3,7.2,7.2,7.2,6.9,6.7,7.358333
34,2014,6.6,6.7,6.7,6.2,6.3,6.1,6.2,6.1,5.9,5.7,5.8,5.6,6.158333
35,2015,5.7,5.5,5.4,5.4,5.6,5.3,5.2,5.1,5.0,5.0,5.1,5.0,5.275000
36,2016,4.9,4.9,5.0,5.0,4.8,4.9,4.8,4.9,5.0,4.9,4.7,4.7,4.875000
37,2017,4.7,4.7,4.4,4.4,4.4,4.3,4.3,4.4,4.2,4.1,4.2,4.1,4.350000
38,2018,4.1,4.1,4.0,3.9,3.8,4.0,3.9,3.8,3.7,3.8,3.7,3.9,3.891667

In [84]:
education_data = pd.read_csv("education_vs_income.csv", skiprows = 4)
education_data.rename(columns = {
    "Unnamed: 3": "Median Income in 2017 USD",
    "Unnamed: 5": "Mean Income in 2017 USD"}, inplace=True)

education_data["Educational Attainment"] = ""
education_data.iloc[1:32, education_data.columns.get_loc("Educational Attainment")] = "Total"
education_data.iloc[32:60, education_data.columns.get_loc("Educational Attainment")] = "9th Grade"
education_data.iloc[63:91, education_data.columns.get_loc("Educational Attainment")] = "High School No Diploma"
education_data.iloc[94:122, education_data.columns.get_loc("Educational Attainment")] = "GED or HS Diploma"
education_data.iloc[125:153, education_data.columns.get_loc("Educational Attainment")] = "Some College"
education_data.iloc[156:184, education_data.columns.get_loc("Educational Attainment")] = "Associate Degree"
education_data.iloc[187:215, education_data.columns.get_loc("Educational Attainment")] = "Bachelor's Degree or More"
education_data.iloc[218:246, education_data.columns.get_loc("Educational Attainment")] = "Bachelor's Degree"
education_data.iloc[249:277, education_data.columns.get_loc("Educational Attainment")] = "Master's Degree"
education_data.iloc[280:308, education_data.columns.get_loc("Educational Attainment")] = "Professional Degree"
education_data.iloc[311:339, education_data.columns.get_loc("Educational Attainment")] = "Doctorate Degree"

edu_data = education_data.dropna(axis=0, how="any")
edu_csv = open("Education_Data_Cleaned.csv", "w")
csv.writer(edu_csv)
edu_data.to_csv("Education_Data_Cleaned.csv")
edu_data.head()

,Educational attainment and income year,Number (thousand),Median income,Median Income in 2017 USD,Mean income,Mean Income in 2017 USD,Educational Attainment
1,2017,"121,375","62,625","62,625","87,734","87,734",Total
2,2016,"119,985","60,523","61,825","84,538","86,356",Total
3,2015,"119,457","58,044","60,057","80,837","83,640",Total
4,2014,"118,217","55,283","57,299","77,297","80,115",Total
5,2013 (39),"117,279","55,407","58,400","76,898","81,052",Total

In [91]:
mort_csv = open("../Project-master/tieredaffordability_mortgage.csv")
mort_df = (pd.read_csv(mort_csv))

mort_df1 = mort_df.drop(mort_df.index[3:])
mort_df1

,RegionID,RegionName,PopRank,tier,1999-06-30,1999-09-30,1999-12-31,2000-03-31,2000-06-30,2000-09-30,...,2015-03-31,2015-06-30,2015-09-30,2015-12-31,2016-03-31,2016-06-30,2016-09-30,2016-12-31,2017-03-31,2017-06-30
0,102001,United States,0,Bottom Tier,0.303985,0.316021,0.323100,0.337265,0.341345,0.331888,...,0.198006,0.205808,0.205446,0.210353,0.206243,0.207603,0.209890,0.235805,0.241146,0.238614
1,102001,United States,0,Middle Tier,0.185879,0.193666,0.200559,0.210686,0.213967,0.207215,...,0.140809,0.145112,0.144375,0.146110,0.142303,0.141536,0.141410,0.156327,0.157769,0.153850
2,102001,United States,0,Upper Tier,0.152307,0.158555,0.162713,0.170843,0.173628,0.168954,...,0.112647,0.116110,0.116479,0.119109,0.116787,0.116844,0.117129,0.130298,0.132079,0.129346

In [94]:
mort_df1 = mort_df1.T
mort_df1.drop(mort_df1.index[:3])
mort_df1["Unemployment Rate"] = (Mar)
mort_df1

                        0              1              2  Unemployment Rate
RegionID           102001         102001         102001                NaN
RegionName  United States  United States  United States                NaN
PopRank                 0              0              0                NaN
tier          Bottom Tier    Middle Tier     Upper Tier                NaN
1999-06-30       0.303985       0.185879       0.152307                NaN
1999-09-30       0.316021       0.193666       0.158555                NaN
1999-12-31         0.3231       0.200559       0.162713                NaN
2000-03-31       0.337265       0.210686       0.170843                NaN
2000-06-30       0.341345       0.213967       0.173628                NaN
2000-09-30       0.331888       0.207215       0.168954                NaN
2000-12-31       0.318398       0.197933        0.16207                NaN
2001-03-31       0.308806       0.193126       0.156823                NaN
2001-06-30       0.318769       0.199993       0.161793                NaN
2001-09-30       0.310423       0.195911       0.157801                NaN
2001-12-31       0.320436       0.203602       0.163474                NaN
2002-03-31       0.321692       0.206492       0.164341                NaN
2002-06-30       0.313119       0.199737       0.159651                NaN
2002-09-30       0.298282       0.190564       0.151916                NaN
2002-12-31       0.300466       0.192868       0.152917                NaN
2003-03-31       0.294625       0.189556       0.149718                NaN
2003-06-30       0.281879       0.181167       0.143136                NaN
2003-09-30       0.316574       0.203085       0.160333                NaN
2003-12-31       0.312623       0.200411       0.158331                NaN
2004-03-31       0.304368       0.194955       0.154192                NaN
2004-06-30        0.34149       0.217823       0.172969                NaN
2004-09-30       0.330437       0.209996       0.167667                NaN
2004-12-31       0.337874       0.212512       0.171718                NaN
2005-03-31       0.350609       0.219635       0.179139                NaN
2005-06-30       0.343928       0.215177       0.177572                NaN
2005-09-30         0.3546       0.224377       0.185038                NaN
...                   ...            ...            ...                ...
2010-03-31       0.263928       0.168189       0.139285                NaN
2010-06-30        0.25503       0.161255       0.133849                NaN
2010-09-30       0.237583       0.151477       0.124756                NaN
2010-12-31       0.239549       0.155563       0.127112                NaN
2011-03-31        0.23477       0.154219       0.125878                NaN
2011-06-30       0.218315       0.146314       0.119141                NaN
2011-09-30       0.202729       0.137423       0.112113                NaN
2011-12-31       0.195464       0.134329       0.109234                NaN
2012-03-31       0.193005       0.133352       0.108571                NaN
2012-06-30       0.185506       0.129276       0.105144                NaN
2012-09-30       0.181903       0.126935       0.103398                NaN
2012-12-31       0.179118        0.12404       0.102076                NaN
2013-03-31       0.185228        0.12901        0.10566                NaN
2013-06-30        0.19945        0.13953       0.114048                NaN
2013-09-30       0.210729       0.150545       0.121211                NaN
2013-12-31       0.209945       0.151362       0.121058                NaN
2014-03-31        0.20614        0.14988       0.119649                NaN
2014-06-30       0.203001       0.146979       0.117363                NaN
2014-09-30       0.204804       0.147219       0.117906                NaN
2014-12-31       0.199047       0.141959       0.113859                NaN
2015-03-31       0.198006       0.140809       0.112647                NaN
2015-06-30       0.205808       0.145112        0.11611                NaN
2015-09-30       0.205446       0.144375       0.116479                NaN
2015-12-31       0.210353        0.14611       0.119109                NaN
2016-03-31       0.206243       0.142303       0.116787                NaN
2016-06-30       0.207603       0.141536       0.116844                NaN
2016-09-30        0.20989        0.14141       0.117129                NaN
2016-12-31       0.235805       0.156327       0.130298                NaN
2017-03-31       0.241146       0.157769       0.132079                NaN
2017-06-30       0.238614        0.15385       0.129346                NaN

[77 rows x 4 columns]