In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
fnm_data_to_load = "../Data_files/2017_SFCensusTractFNM2017/fnma_sf2017c_loans.txt"
fnm_data = pd.read_table(fnm_data_to_load, delim_whitespace=True)

In [5]:
fnm_data.columns= ['Enterprise Flag', 
                   'Record Number', 
                   'US Postal State Code', 
                   'Metropolitan Statistical Area (MSA) Code', 
                   'County - 2010 Census',
                   'Census Tract - 2010 Census', 
                   '2010 Census Tract - Percent Minority', 
                   '2010 Census Tract - Median Income', 
                   'Local Area Median Income', 
                   'Tract Income Ratio', 
                   'Borrower’s (or Borrowers’) Annual Income', 
                   'Area Median Family Income (2017)', 
                   'Borrower Income Ratio', 
                  'Acquisition Unpaid Principal Balance (UPB) ', 
                   'Purpose of Loan', 
                   'Federal Guarantee ', 
                   'Number of Borrowers',
                  'First-Time Home Buyer ', 
                   'Borrower Race or National Origin 1 ', 
                   'Borrower Race or National Origin 2 ', 
                   'Borrower Race or National Origin 3 ', 
                   'Borrower Race or National Origin 4 ', 
                   'Borrower Race or National Origin 5 ', 
                   'Borrower Ethnicity ',
                   'Co-Borrower Race or National Origin 1',
                   'Co-Borrower Race or National Origin 2',
                   'Co-Borrower Race or National Origin 3',
                   'Co-Borrower Race or National Origin 4',
                   'Co-Borrower Race or National Origin 5',
                  'Co-Borrower Ethnicity', 
                   'Borrower Gender', 
                   'Co-Borrower Gender', 
                   'Age of Borrower', 
                   'Age of Co-Borrower',
                  'Occupancy Code',
                   'Rate Spread', 
                   'HOEPA Status', 
                   'Property Type',
                   'Lien Status' ]

In [7]:
fre_data_to_load = '../Data_files/2017_SFCensusTractFRE2017/fhlmc_sf2017c_loans.txt'
fre_data = pd.read_table(fre_data_to_load, delim_whitespace=True)

In [8]:
fre_data.columns= ['Enterprise Flag', 
                   'Record Number', 
                   'US Postal State Code', 
                   'Metropolitan Statistical Area (MSA) Code', 
                   'County - 2010 Census',
                   'Census Tract - 2010 Census', 
                   '2010 Census Tract - Percent Minority', 
                   '2010 Census Tract - Median Income', 
                   'Local Area Median Income', 
                   'Tract Income Ratio', 
                   'Borrower’s (or Borrowers’) Annual Income', 
                   'Area Median Family Income (2017)', 
                   'Borrower Income Ratio', 
                  'Acquisition Unpaid Principal Balance (UPB) ', 
                   'Purpose of Loan', 
                   'Federal Guarantee ', 
                   'Number of Borrowers',
                  'First-Time Home Buyer ', 
                   'Borrower Race or National Origin 1 ', 
                   'Borrower Race or National Origin 2 ', 
                   'Borrower Race or National Origin 3 ', 
                   'Borrower Race or National Origin 4 ', 
                   'Borrower Race or National Origin 5 ', 
                   'Borrower Ethnicity ',
                   'Co-Borrower Race or National Origin 1',
                   'Co-Borrower Race or National Origin 2',
                   'Co-Borrower Race or National Origin 3',
                   'Co-Borrower Race or National Origin 4',
                   'Co-Borrower Race or National Origin 5',
                  'Co-Borrower Ethnicity', 
                   'Borrower Gender', 
                   'Co-Borrower Gender', 
                   'Age of Borrower', 
                   'Age of Co-Borrower',
                  'Occupancy Code',
                   'Rate Spread', 
                   'HOEPA Status', 
                   'Property Type',
                   'Lien Status' ]

In [9]:
frames = [fre_data, fnm_data]

In [10]:
complete_data = pd.concat(frames)

complete_data.columns= ['Enterprise Flag', 
                   'Record Number', 
                   'US Postal State Code', 
                   'Metropolitan Statistical Area (MSA) Code', 
                   'County - 2010 Census',
                   'Census Tract - 2010 Census', 
                   '2010 Census Tract - Percent Minority', 
                   '2010 Census Tract - Median Income', 
                   'Local Area Median Income', 
                   'Tract Income Ratio', 
                   'Borrower’s (or Borrowers’) Annual Income', 
                   'Area Median Family Income (2017)', 
                   'Borrower Income Ratio', 
                  'Acquisition Unpaid Principal Balance (UPB) ', 
                   'Purpose of Loan', 
                   'Federal Guarantee ', 
                   'Number of Borrowers',
                  'First-Time Home Buyer ', 
                   'Borrower Race or National Origin 1 ', 
                   'Borrower Race or National Origin 2 ', 
                   'Borrower Race or National Origin 3 ', 
                   'Borrower Race or National Origin 4 ', 
                   'Borrower Race or National Origin 5 ', 
                   'Borrower Ethnicity ',
                   'Co-Borrower Race or National Origin 1',
                   'Co-Borrower Race or National Origin 2',
                   'Co-Borrower Race or National Origin 3',
                   'Co-Borrower Race or National Origin 4',
                   'Co-Borrower Race or National Origin 5',
                  'Co-Borrower Ethnicity', 
                   'Borrower Gender', 
                   'Co-Borrower Gender', 
                   'Age of Borrower', 
                   'Age of Co-Borrower',
                  'Occupancy Code',
                   'Rate Spread', 
                   'HOEPA Status', 
                   'Property Type',
                   'Lien Status' ]

In [30]:
complete_data

,Enterprise Flag,Record Number,US Postal State Code,Metropolitan Statistical Area (MSA) Code,County - 2010 Census,Census Tract - 2010 Census,2010 Census Tract - Percent Minority,2010 Census Tract - Median Income,Local Area Median Income,Tract Income Ratio,...,Borrower Gender,Co-Borrower Gender,Age of Borrower,Age of Co-Borrower,Occupancy Code,Rate Spread,HOEPA Status,Property Type,Lien Status,Income v Area Income
0,2,2,28,99999,151,2000,79.67,34231,43702,0.7833,...,1,9,59,999,1,0.0,2,1,1,2.036520
1,2,3,48,41700,29,191807,42.00,126841,62228,2.0383,...,1,2,55,55,1,0.0,2,1,1,2.522980
2,2,4,10,41540,5,51302,13.79,65990,63091,1.0459,...,1,3,67,52,1,0.0,2,1,1,2.266567
3,2,5,37,39580,183,52505,35.17,78598,78057,1.0069,...,2,9,69,999,1,0.0,2,1,1,2.139462
4,2,6,22,99999,101,40200,23.54,69342,48992,1.4154,...,1,9,36,999,1,0.0,2,1,1,1.530862
5,2,7,12,45300,57,6103,17.29,114716,58916,1.9471,...,2,1,24,26,1,0.0,2,1,1,2.087718
6,2,8,47,34980,43,60502,10.81,54590,66404,0.8221,...,1,2,40,41,1,0.0,2,1,1,1.460755
7,2,9,6,41500,53,11602,12.42,125806,62441,2.0148,...,1,9,72,999,1,0.0,2,1,1,1.377300
8,2,10,29,41180,189,219500,7.93,101389,70718,1.4337,...,1,2,35,31,1,0.0,2,1,1,2.545321
9,2,11,42,25420,99,30400,4.14,71053,71723,0.9907,...,1,9,75,999,1,0.0,2,1,1,0.585586
10,2,12,18,16980,127,50702,16.38,68125,75622,0.9009,...,1,9,51,999,1,0.0,2,1,1,0.423157
11,2,13,19,99999,91,970300,7.03,59850,61934,0.9664,...,3,9,57,999,1,0.0,2,1,1,0.193755
12,2,14,33,31700,11,18000,5.07,115333,85966,1.3416,...,1,2,35,35,1,0.0,2,1,1,2.186911
13,2,15,39,99999,43,40900,17.01,47650,61704,0.7722,...,1,2,76,52,1,0.0,2,1,1,1.847530
14,2,16,6,33700,99,202,37.10,50315,55611,0.9048,...,1,1,44,71,1,0.0,2,1,1,1.672331
15,2,17,6,41740,73,300,26.94,81838,75179,1.0886,...,1,9,43,999,1,0.0,2,1,1,2.194762
16,2,18,50,99999,23,954300,4.11,84604,73765,1.1469,...,2,1,40,40,1,0.0,2,1,1,3.402698
17,2,19,13,12060,57,90502,9.86,107201,67322,1.5924,...,1,2,39,38,1,0.0,2,1,1,2.257806
18,2,20,6,31080,37,143604,38.72,83409,67989,1.2268,...,2,9,37,999,1,0.0,2,1,1,1.632617
19,2,21,6,31080,37,403801,71.65,81932,67989,1.2051,...,2,9,49,999,1,0.0,2,1,1,1.147244
20,2,22,4,38060,13,40518,21.37,61847,63686,0.9711,...,1,2,63,66,1,0.0,2,1,1,1.884245
21,2,23,53,42660,61,40800,17.20,58875,86471,0.6809,...,3,3,56,45,1,0.0,2,1,1,1.908154
22,2,24,6,40900,67,9638,55.54,95500,71829,1.3295,...,2,1,40,40,1,0.0,2,1,1,2.088293
23,2,25,17,16980,31,242300,21.85,107161,75622,1.4171,...,2,9,29,999,1,0.0,2,1,1,1.229801
24,2,26,54,99999,55,2300,6.35,36128,48507,0.7448,...,1,2,64,64,1,0.0,2,1,1,1.731709
25,2,27,12,33100,11,110325,85.59,85451,57269,1.4921,...,1,9,35,999,1,0.0,2,1,1,1.641377
26,2,28,6,41860,81,601000,81.90,100192,98647,1.0157,...,1,9,55,999,1,0.0,2,1,1,1.044127
27,2,29,51,47900,187,20601,11.74,70885,108141,0.6555,...,1,9,49,999,1,0.0,2,1,1,0.878483
28,2,30,37,25860,23,20500,33.55,54917,51281,1.0709,...,2,1,59,57,1,0.0,2,1,1,2.574053
29,2,31,12,29460,105,14123,21.33,51198,50986,1.0042,...,1,9,47,999,1,0.0,2,1,1,0.961048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2216869,1,2216871,6,41860,41,111000,36.69,100724,98647,1.0211,...,1,2,47,42,1,0.0,2,1,1,2.088254
2216870,1,2216872,55,39540,101,1703,11.69,82202,68728,1.1960,...,2,4,68,999,1,0.0,2,1,1,0.552904
2216871,1,2216873,21,99999,151,11000,4.86,55579,56697,0.9803,...,2,4,53,999,1,0.0,2,1,1,1.411009
2216872,1,2216874,55,24580,9,21302,8.98,75197,67666,1.1113,...,1,2,27,27,1,0.0,2,1,1,1.536961
2216873,1,2216875,6,41740,73,13203,91.10,24670,75179,0.3282,...,1,4,37,999,1,0.0,2,1,1,0.758190
2216874,1,2216876,31,99999,27,977200,2.50,63750,67250,0.9480,...,1,2,31,29,1,0.0,2,1,1,1.070632
2216875,1,2216877,34,35620,27,42100,14.39,142679,81054,1.7603,...,1,2,47,48,1,0.0,2,1,1,1.258420
2216876,1,2216878,34,35620,27,43402,14.83,160500,81054,1.9802,...,3,3,47,43,1,0.0,2,1,1,3.479162
2216877,1,2216879,6,34900,55,201003,77.35,122813,80921,1.5177,...,2,4,40,999,1,0.0,2,1,1,1.112196
2216878,1,2216880,17,44100,167,3100,8.11,119107,73402,1.6227,...,1,2,36,37,1,0.0,2,1,1,1.648456
2216879,1,2216881,36,35620,119,4600,15.41,198884,81054,2.4537,...,3,4,28,999,1,0.0,2,1,1,1.233745
2216880,1,2216882,53,99999,25,10200,18.89,72596,58513,1.2407,...,1,2,52,50,1,0.0,2,1,1,0.837421
2216881,1,2216883,13,12060,77,170503,19.17,83438,67322,1.2394,...,1,4,29,999,1,0.0,2,1,1,1.574522
2216882,1,2216884,17,16980,97,864108,39.58,85602,75622,1.1320,...,1,2,38,36,1,0.0,2,1,1,1.666182
2216883,1,2216885,2,21820,90,400,31.95,75804,82310,0.9210,...,2,4,56,999,1,0.0,2,1,1,1.044831
2216884,1,2216886,35,99999,9,303,33.56,71118,49615,1.4334,...,1,2,63,63,1,0.0,2,1,1,1.592260
2216885,1,2216887,22,43340,15,11109,16.31,91193,56158,1.6239,...,2,4,59,999,1,0.0,2,1,1,0.676662
2216886,1,2216888,13,47580,235,950300,28.70,70050,61022,1.1479,...,1,4,32,999,1,0.0,2,1,1,1.016027
2216887,1,2216889,48,26420,201,522402,66.51,56801,69373,0.8188,...,1,4,49,999,1,0.0,2,1,1,4.295619
2216888,1,2216890,37,39580,183,52806,85.83,53194,78057,0.6815,...,1,4,31,999,1,0.0,2,1,1,0.807103
2216889,1,2216891,32,29820,3,3610,60.61,67569,59993,1.1263,...,1,2,32,25,1,0.0,2,1,1,1.050123
2216890,1,2216892,4,38060,13,816900,23.25,72273,63686,1.1348,...,1,4,34,999,1,0.0,2,1,1,1.240461
2216891,1,2216893,6,31080,37,183101,79.17,73618,67989,1.0828,...,1,4,50,999,1,0.0,2,1,1,1.323744
2216892,1,2216894,18,26900,11,810603,10.54,128317,66803,1.9208,...,2,4,50,999,1,0.0,2,1,1,1.601724
2216893,1,2216895,53,31020,15,900,12.34,70785,57938,1.2217,...,1,2,63,58,1,0.0,2,1,1,1.846802
2216894,1,2216896,6,46700,95,252103,79.17,75682,77061,0.9821,...,1,4,32,999,1,0.0,2,1,1,1.959487
2216895,1,2216897,4,38060,13,216841,12.34,135900,63686,2.1339,...,1,4,51,999,1,0.0,2,1,1,1.130547
2216896,1,2216898,10,37980,3,10800,20.30,115694,81157,1.4256,...,2,4,38,999,1,0.0,2,1,1,0.825560
2216897,1,2216899,9,25540,3,464101,4.50,123824,88016,1.4068,...,1,2,50,50,1,0.0,2,1,1,1.681512
2216898,1,2216900,6,41860,13,355200,80.68,121767,98647,1.2344,...,1,4,40,999,1,0.0,2,1,1,1.611808

In [12]:
incomes = complete_data['Borrower’s (or Borrowers’) Annual Income'].mean()
incomes

110800.35339219902

In [13]:
males = complete_data.loc[complete_data['Borrower Gender'] == 1]
males_count= males["Enterprise Flag"].count()
males_count

2326235

In [14]:
females = complete_data.loc[complete_data['Borrower Gender'] == 2]
females_count= females["Enterprise Flag"].count()
females_count

1110531

In [15]:
FHA = complete_data.loc[complete_data['Federal Guarantee '] == 2]
FHA_count= FHA["Enterprise Flag"].count()
FHA_count

210

In [16]:
Conv = complete_data.loc[complete_data['Federal Guarantee '] == 1]
Conv_count= Conv["Enterprise Flag"].count()
Conv_count

3702938

In [17]:
VA = complete_data.loc[complete_data['Federal Guarantee '] == 3]
VA_count= VA["Enterprise Flag"].count()
VA_count

106

In [18]:
age = complete_data.loc[complete_data['Age of Borrower'] < 999]
age_count = age["Age of Borrower"].mean()
age_count

46.34652481852171

In [19]:
co_age = complete_data.loc[complete_data['Age of Co-Borrower'] < 999]
co_age
co_age_count = co_age["Age of Co-Borrower"].mean()
co_age_count

46.62071473689158

In [20]:
average_age = (age_count + co_age_count)/2
average_age

46.48361977770664

In [21]:
age = complete_data.loc[complete_data['Age of Borrower'] < 999]
age_first_time_loc = age.loc[age['First-Time Home Buyer '] == 1]
age_first_time = age_first_time_loc["Age of Borrower"].mean()
age_first_time

36.06066841564402

In [22]:
co_age = complete_data.loc[complete_data['Age of Co-Borrower'] < 999]
co_age_first_time_loc = co_age.loc[co_age['First-Time Home Buyer '] == 1]
co_age_first_time = co_age_first_time_loc["Age of Co-Borrower"].mean()
co_age_first_time

36.782378835479506

In [23]:
first_time_age = (age_first_time + co_age_first_time) /2
first_time_age

36.42152362556176

In [25]:
first_time = complete_data.loc[complete_data['First-Time Home Buyer ']== 1]
first_time_income = first_time['Borrower’s (or Borrowers’) Annual Income'].mean()
first_time_income

87058.98445995977

In [26]:
complete_data["Income v Area Income"]= (complete_data['Borrower’s (or Borrowers’) Annual Income']/complete_data['Local Area Median Income'])

In [27]:
bins = [1, 2, 3, 100]
labels = ['<1', '1-2', '2-3', '>3']

In [28]:
income_ratios = [under_1_count, under_2_count, under_3_count, over_3_count]
labels = ["< 1", '1-2', '2-3', '> 3']
plt.pie(income_ratios, labels=labels, startangle= 330)

NameError: name 'under_1_count' is not defined