In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
fnm_data_to_load = "2008_SFCensusTractFNM2008/fnma_sf2008c_loans.txt"
fnm_data = pd.read_table(fnm_data_to_load, delim_whitespace=True)

In [5]:
fnm_data.columns= ['Enterprise Flag', 
                   'Record Number', 
                   'US Postal State Code', 
                   'Metropolitan Statistical Area (MSA) Code', 
                   'County - 2000 Census',
                   'Census Tract - 2000 Census', 
                   '2000 Census Tract - Percent Minority', 
                   '2000 Census Tract - Median Income', 
                   'Local Area Median Income', 
                   'Tract Income Ratio', 
                   'Borrower’s (or Borrowers’) Annual Income', 
                   'Area Median Family Income (2008)', 
                   'Borrower Income Ratio', 
                  'Acquisition Unpaid Principal Balance (UPB) ', 
                   'Purpose of Loan', 
                   'Federal Guarantee ', 
                   'Number of Borrowers',
                  'First-Time Home Buyer ', 
                   'Borrower Race or National Origin 1 ', 
                   'Borrower Race or National Origin 2 ', 
                   'Borrower Race or National Origin 3 ', 
                   'Borrower Race or National Origin 4 ', 
                   'Borrower Race or National Origin 5 ', 
                   'Borrower Ethnicity ',
                   'Co-Borrower Race or National Origin 1',
                   'Co-Borrower Race or National Origin 2',
                   'Co-Borrower Race or National Origin 3',
                   'Co-Borrower Race or National Origin 4',
                   'Co-Borrower Race or National Origin 5',
                  'Co-Borrower Ethnicity', 
                   'Borrower Gender', 
                   'Co-Borrower Gender', 
                   'Age of Borrower', 
                   'Age of Co-Borrower',
                  'Occupancy Code',
                   'Underserved Areas Indicator',
                   'Rate Spread', 
                   'HOEPA Status', 
                   'Property Type',
                   'Lien Status' ]

In [6]:
fre_data_to_load = '2008_SFCensusTractFRE2008/fhlmc_sf2008c_loans.txt'
fre_data = pd.read_table(fre_data_to_load, delim_whitespace=True)

In [16]:
fre_data.columns= ['Enterprise Flag', 
                   'Record Number', 
                   'US Postal State Code', 
                   'Metropolitan Statistical Area (MSA) Code', 
                   'County - 2000 Census',
                   'Census Tract - 2000 Census', 
                   '2000 Census Tract - Percent Minority', 
                   '2000 Census Tract - Median Income', 
                   'Local Area Median Income', 
                   'Tract Income Ratio', 
                   'Borrower’s (or Borrowers’) Annual Income', 
                   'Area Median Family Income (2008)', 
                   'Borrower Income Ratio', 
                  'Acquisition Unpaid Principal Balance (UPB) ', 
                   'Purpose of Loan', 
                   'Federal Guarantee ', 
                   'Number of Borrowers',
                  'First-Time Home Buyer ', 
                   'Borrower Race or National Origin 1 ', 
                   'Borrower Race or National Origin 2 ', 
                   'Borrower Race or National Origin 3 ', 
                   'Borrower Race or National Origin 4 ', 
                   'Borrower Race or National Origin 5 ', 
                   'Borrower Ethnicity ',
                   'Co-Borrower Race or National Origin 1',
                   'Co-Borrower Race or National Origin 2',
                   'Co-Borrower Race or National Origin 3',
                   'Co-Borrower Race or National Origin 4',
                   'Co-Borrower Race or National Origin 5',
                  'Co-Borrower Ethnicity', 
                   'Borrower Gender', 
                   'Co-Borrower Gender', 
                   'Age of Borrower', 
                   'Age of Co-Borrower',
                  'Occupancy Code',
                   'Underserved Areas Indicators',
                   'Rate Spread', 
                   'HOEPA Status', 
                   'Property Type',
                   'Lien Status' ]

In [17]:
frames = [fre_data, fnm_data]

In [18]:
complete_data = pd.concat(frames, sort=False)

complete_data.columns= ['Enterprise Flag', 
                   'Record Number', 
                   'US Postal State Code', 
                   'Metropolitan Statistical Area (MSA) Code', 
                   'County - 2010 Census',
                   'Census Tract - 2010 Census', 
                   '2010 Census Tract - Percent Minority', 
                   '2010 Census Tract - Median Income', 
                   'Local Area Median Income', 
                   'Tract Income Ratio', 
                   'Borrower’s (or Borrowers’) Annual Income', 
                   'Area Median Family Income (2017)', 
                   'Borrower Income Ratio', 
                  'Acquisition Unpaid Principal Balance (UPB) ', 
                   'Purpose of Loan', 
                   'Federal Guarantee ', 
                   'Number of Borrowers',
                  'First-Time Home Buyer ', 
                   'Borrower Race or National Origin 1 ', 
                   'Borrower Race or National Origin 2 ', 
                   'Borrower Race or National Origin 3 ', 
                   'Borrower Race or National Origin 4 ', 
                   'Borrower Race or National Origin 5 ', 
                   'Borrower Ethnicity ',
                   'Co-Borrower Race or National Origin 1',
                   'Co-Borrower Race or National Origin 2',
                   'Co-Borrower Race or National Origin 3',
                   'Co-Borrower Race or National Origin 4',
                   'Co-Borrower Race or National Origin 5',
                  'Co-Borrower Ethnicity', 
                   'Borrower Gender', 
                   'Co-Borrower Gender', 
                   'Age of Borrower', 
                   'Age of Co-Borrower',
                  'Occupancy Code',
                   'Rate Spread', 
                   'HOEPA Status', 
                   'Property Type',
                   'Lien Status' ]

In [36]:
complete_data

,Enterprise Flag,Record Number,US Postal State Code,Metropolitan Statistical Area (MSA) Code,County - 2000 Census,Census Tract - 2000 Census,2000 Census Tract - Percent Minority,2000 Census Tract - Median Income,Local Area Median Income,Tract Income Ratio,...,Age of Borrower,Age of Co-Borrower,Occupancy Code,Underserved Areas Indicators,Rate Spread,HOEPA Status,Property Type,Lien Status,Underserved Areas Indicator,Income v Area Income
0,2,2,55,33340,89,630201,3.35,66574,56640,1.1754,...,41,54,1,2.0,0.00,2,1,1,NaN,1.959746
1,2,3,48,26420,201,510900,77.12,33750,51431,0.6562,...,31,999,1,1.0,0.00,2,1,1,NaN,2.099901
2,2,4,42,49660,85,32701,2.66,40546,44378,0.9137,...,46,999,1,2.0,0.00,2,1,1,NaN,1.081617
3,2,5,41,32780,29,1100,8.59,40293,43836,0.9192,...,51,49,1,2.0,0.00,2,1,1,NaN,1.026554
4,2,6,12,36100,83,1401,28.82,32118,37494,0.8566,...,47,999,1,1.0,0.00,9,1,1,NaN,266.709313
5,2,7,55,36780,139,1900,2.18,60200,53528,1.1246,...,999,999,1,2.0,0.00,2,1,1,NaN,1.382454
6,2,8,53,42660,33,31908,27.13,55156,61225,0.9009,...,41,999,1,2.0,0.00,2,1,1,NaN,1.126991
7,2,9,55,99999,141,10600,4.51,50417,50798,0.9925,...,29,999,1,2.0,0.00,2,1,1,NaN,0.787433
8,2,10,36,45060,67,11900,2.25,59167,49907,1.1855,...,40,999,1,2.0,0.00,2,1,1,NaN,1.202236
9,2,11,37,48900,19,20503,4.76,44784,46595,0.9611,...,47,999,1,2.0,0.00,2,1,1,NaN,19.014916
10,2,12,37,99999,109,71100,9.02,52422,47752,1.0978,...,32,31,1,2.0,6.60,2,1,1,NaN,2.533925
11,2,13,17,16980,31,80200,13.84,126651,60417,2.0963,...,49,999,1,2.0,0.00,2,1,1,NaN,1.787576
12,2,14,48,41700,29,191101,23.20,72386,44591,1.6233,...,999,999,2,2.0,0.00,9,1,1,NaN,4.462784
13,2,15,36,35620,81,27700,87.17,38013,58966,0.6447,...,52,45,1,1.0,0.00,2,1,1,NaN,1.221043
14,2,16,53,42660,33,24000,18.00,72353,61225,1.1818,...,999,999,1,2.0,0.00,2,1,1,NaN,1.780318
15,2,17,4,38060,13,111100,21.93,60526,51172,1.1828,...,48,42,1,2.0,0.00,2,1,1,NaN,2.208239
16,2,18,6,31100,59,110108,33.91,72054,50735,1.4202,...,56,58,1,2.0,0.00,2,1,1,NaN,3.193062
17,2,19,36,15380,63,23403,6.72,42530,49149,0.8653,...,59,57,1,1.0,0.00,2,1,1,NaN,0.773159
18,2,20,29,99999,29,950400,2.98,35882,40695,0.8817,...,999,999,1,1.0,0.00,2,1,1,NaN,3.145350
19,2,21,8,19740,35,13909,5.74,104599,61196,1.7092,...,40,40,1,2.0,0.00,2,1,1,NaN,3.921825
20,2,22,32,29820,3,5012,37.94,50446,50504,0.9989,...,999,999,1,1.0,0.00,2,1,1,NaN,3.742278
21,2,23,42,39740,11,10800,10.64,63403,53061,1.1949,...,37,45,1,2.0,0.00,2,1,1,NaN,1.526545
22,2,24,12,45300,101,32004,17.94,62031,45339,1.3682,...,999,999,1,2.0,0.00,2,1,1,NaN,2.117382
23,2,25,27,33460,53,21400,12.88,56840,64885,0.8760,...,29,999,1,1.0,6.55,2,1,1,NaN,0.554828
24,2,26,17,16980,31,805702,6.35,80400,60417,1.3308,...,49,46,1,2.0,6.67,2,1,1,NaN,2.962742
25,2,27,12,36100,83,200,39.48,37748,37494,1.0068,...,38,999,1,1.0,0.00,2,1,1,NaN,1.226863
26,2,28,27,33460,171,100100,3.43,59257,64885,0.9133,...,66,60,1,2.0,0.00,2,1,1,NaN,1.017184
27,2,29,12,33100,86,2701,64.25,37703,46670,0.8079,...,32,999,1,1.0,0.00,2,1,1,NaN,2.678380
28,2,30,20,28140,91,53407,10.53,96880,55031,1.7605,...,999,999,2,2.0,0.00,2,1,1,NaN,3.906889
29,2,31,45,22500,41,1502,29.40,43510,40070,1.0858,...,27,999,1,2.0,0.00,2,1,1,NaN,0.848515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2803365,1,2803367,37,49180,67,3907,6.91,96676,50059,1.9312,...,49,999,1,NaN,0.00,2,1,1,2.0,4.914201
2803366,1,2803368,40,36420,27,201606,16.95,67283,44898,1.4986,...,62,999,2,NaN,0.00,2,1,1,2.0,0.579090
2803367,1,2803369,8,17820,41,3301,13.11,92568,54037,1.7130,...,46,48,1,NaN,0.00,2,1,1,2.0,2.997946
2803368,1,2803370,26,19820,125,154200,8.81,49015,59953,0.8176,...,41,39,2,NaN,0.00,2,1,1,1.0,0.800627
2803369,1,2803371,32,29820,3,3416,32.91,53795,50504,1.0652,...,43,999,1,NaN,0.00,2,1,1,1.0,1.227626
2803370,1,2803372,54,99999,81,10801,16.90,37840,35315,1.0715,...,56,999,1,NaN,0.00,2,1,1,1.0,6.314597
2803371,1,2803373,42,99999,89,300401,8.70,49402,51995,0.9501,...,48,44,1,NaN,0.00,2,1,1,2.0,1.730936
2803372,1,2803374,36,35620,103,158408,7.65,51926,58966,0.8806,...,40,999,2,NaN,0.00,2,1,1,1.0,2.272496
2803373,1,2803375,37,48900,129,11704,4.67,76503,46595,1.6419,...,77,999,1,NaN,0.00,2,1,1,2.0,2.231999
2803374,1,2803376,6,41860,1,407100,92.12,42188,70776,0.5961,...,43,999,2,NaN,0.00,2,1,1,1.0,2.317170
2803375,1,2803377,25,14460,17,363101,11.95,114116,66229,1.7231,...,53,53,1,NaN,0.00,2,1,1,2.0,1.917589
2803376,1,2803378,42,25420,41,13101,2.31,48981,52829,0.9272,...,44,44,1,NaN,0.00,2,1,1,2.0,0.984308
2803377,1,2803379,37,99999,55,970100,2.59,59583,49302,1.2085,...,62,999,1,NaN,0.00,2,1,1,2.0,3.306154
2803378,1,2803380,42,37980,101,21700,11.58,56979,58739,0.9700,...,999,999,1,NaN,0.00,2,1,1,2.0,170.244625
2803379,1,2803381,28,99999,5,950300,54.55,31094,32900,0.9451,...,31,31,1,NaN,0.00,2,1,1,1.0,2.218845
2803380,1,2803382,37,48900,129,12005,10.92,65544,46595,1.4067,...,28,999,1,NaN,0.00,2,1,1,2.0,1.502307
2803381,1,2803383,21,17140,15,70401,3.87,83953,54771,1.5328,...,999,999,1,NaN,0.00,2,1,1,2.0,1.095470
2803382,1,2803384,26,19820,99,242500,4.90,66400,59953,1.1075,...,82,999,1,NaN,0.00,2,1,1,2.0,2.034927
2803383,1,2803385,8,19740,1,8523,19.80,62059,61196,1.0141,...,46,30,1,NaN,0.00,2,1,1,2.0,1.372639
2803384,1,2803386,55,24580,9,700,15.68,43899,53950,0.8137,...,45,44,1,NaN,6.68,2,1,1,1.0,0.759963
2803385,1,2803387,35,42140,49,10400,15.97,87536,49999,1.7508,...,53,999,1,NaN,0.00,2,1,1,2.0,0.840017
2803386,1,2803388,34,35620,17,18900,22.14,66932,58966,1.1351,...,999,999,1,NaN,0.00,2,1,1,2.0,3.595292
2803387,1,2803389,45,11340,7,11300,22.53,42366,44322,0.9559,...,46,38,1,NaN,0.00,2,1,1,2.0,1.895221
2803388,1,2803390,41,41420,47,1502,19.74,44765,46995,0.9525,...,68,999,1,NaN,0.00,2,1,1,2.0,1.063943
2803389,1,2803391,21,30460,17,30200,10.95,37183,51365,0.7239,...,34,999,1,NaN,0.00,2,1,1,1.0,2.102599
2803390,1,2803392,4,38060,13,50601,33.66,47099,51172,0.9204,...,46,48,1,NaN,0.00,2,1,1,1.0,3.009458
2803391,1,2803393,37,15500,1,21203,23.70,46320,46620,0.9936,...,46,45,2,NaN,0.00,2,1,1,2.0,1.801802
2803392,1,2803394,13,12060,13,180201,18.96,45625,58537,0.7794,...,999,999,1,NaN,0.00,2,1,1,1.0,0.751661
2803393,1,2803395,53,42660,33,23000,21.41,81720,61225,1.3347,...,44,34,1,NaN,0.00,2,1,1,2.0,1.453655
2803394,1,2803396,25,49340,27,737300,4.28,59111,58426,1.0117,...,41,999,1,NaN,6.15,2,1,1,2.0,1.129634

In [20]:
incomes = complete_data['Borrower’s (or Borrowers’) Annual Income'].mean()
incomes

393526.8849160389

In [35]:
first_time = complete_data.loc[complete_data['First-Time Home Buyer ']== 1]
first_time_income = first_time['Borrower’s (or Borrowers’) Annual Income'].mean()
first_time_income

129095.83669151033

In [21]:
males = complete_data.loc[complete_data['Borrower Gender'] == 1]
males_count= males["Enterprise Flag"].count()
males_count

2887904

In [22]:
females = complete_data.loc[complete_data['Borrower Gender'] == 2]
females_count= females["Enterprise Flag"].count()
females_count

1234386

In [23]:
FHA = complete_data.loc[complete_data['Federal Guarantee '] == 2]
FHA_count= FHA["Enterprise Flag"].count()
FHA_count

132355

In [24]:
Conv = complete_data.loc[complete_data['Federal Guarantee '] == 1]
Conv_count= Conv["Enterprise Flag"].count()
Conv_count

4545822

In [25]:
VA = complete_data.loc[complete_data['Federal Guarantee '] == 3]
VA_count= VA["Enterprise Flag"].count()
VA_count

900

In [26]:
age = complete_data.loc[complete_data['Age of Borrower'] < 999]
age_count = age["Age of Borrower"].mean()
age_count

46.43543654170452

In [27]:
co_age = complete_data.loc[complete_data['Age of Co-Borrower'] < 999]
co_age
co_age_count = co_age["Age of Co-Borrower"].mean()
co_age_count

45.673243809531456

In [28]:
average_age = (age_count + co_age_count)/2
average_age

46.05434017561799

In [29]:
age = complete_data.loc[complete_data['Age of Borrower'] < 999]
age_first_time_loc = age.loc[age['First-Time Home Buyer '] == 1]
age_first_time = age_first_time_loc["Age of Borrower"].mean()
age_first_time

36.304880287759005

In [30]:
co_age = complete_data.loc[complete_data['Age of Co-Borrower'] < 999]
co_age_first_time_loc = co_age.loc[co_age['First-Time Home Buyer '] == 1]
co_age_first_time = co_age_first_time_loc["Age of Co-Borrower"].mean()
co_age_first_time

35.792186556127234

In [31]:
first_time_age = (age_first_time + co_age_first_time) /2
first_time_age

36.04853342194312

In [32]:
complete_data["Income v Area Income"]= (complete_data['Borrower’s (or Borrowers’) Annual Income']/complete_data['Local Area Median Income'])

In [33]:
bins = [1, 2, 3, 100]
labels = ['<1', '1-2', '2-3', '>3']

In [34]:
income_ratios = [under_1_count, under_2_count, under_3_count, over_3_count]
labels = ["< 1", '1-2', '2-3', '> 3']
plt.pie(income_ratios, labels=labels, startangle= 330)

NameError: name 'under_1_count' is not defined